.edit-sales {
	position: relative;
	width: 100%;
	&__body {
		padding: 1em 40px;
		display: flex;
		flex-direction: column;
		gap: 2em;
		@media (max-width: 768px) {
			padding: 1em;
		}
	}
	&__wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 0.5em;
		align-items: center;
		.button-delete {
			margin-bottom: -16px;
		}
		@media (max-width: 768px) {
			grid-template-columns: 1fr;
		}
	}

	&__top-list {
		margin-top: 10px;
	}
	&__image {
		width: 100%;
	}
	&__item {
		width: 100%;
	}
}
.span-help {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-top: 8px;
	span {
		display: block;
		font-size: 12px;
		color: #737680;
	}
}
