.mainForm {
	&__form-item {
		display: flex;
		flex-direction: column;
		&:not(:first-child) {
			position: relative;
		}
	}
	&__show {
		position: absolute;
		width: 30px;
		height: 30px;
		background: no-repeat center/16px url("../../img/eye.svg");
		right: 6px;
		bottom: 6px;
		margin: auto;
		cursor: pointer;
		display: block;
	}
	&__label {
		margin-bottom: 4px;
		font-size: 14px;
	}
	&__input {
		border-radius: 8px;
		border: 1px solid #d0d3da;
		background: #fff;
		width: auto;
		height: 20px;
		padding: 10px;
		&:focus {
			outline-color: #c06ecc;
		}

		&::placeholder {
			color: #737680;
		}
	}
}
